# Eclipse-specific files
.settings/

# Maven-specific files
target/
!**/src/main/**
!**/src/test/**

# Compiled class files
*.class

# Logs and temporary files
*.log
*.tmp

# OS-specific files
.DS_Store
Thumbs.db

# Git-specific files
.git/
